* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Sedan Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Sedan Regular'), url('Sedan-Regular.woff') format('woff');
}
    

@font-face {
    font-family: 'Sedan Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Sedan Italic'), url('Sedan-Italic.woff') format('woff');
}

.container {
    width: 1320px;
    margin: 0 auto;
}


nav {
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.nav_wrapper {
    height: 3rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

.nav_wrapper ul {
    display: flex;
    justify-content: space-around;
    color: #333;
}

.nav_wrapper ul li {
    list-style: none;
    padding-right : 1.5rem;
}

.nav_wrapper a {
    color: #333;
    text-decoration: none;
}

.welcome {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    place-items: center;
    padding-top: 3rem;
    height: 35rem;
    font-family: 'Sedan Regular';
}

.welcome-text .title {
    font-size: 2rem;
}

.welcome-text p {
    font-size: 1.2rem;
    padding-top: 1.3rem;
}

.mypic img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 50%;
}


.about-me {
    background: #333;
    height: 25rem;
    display: flex;
}

.about-me_wrap {
    /* padding-top: 6rem; */
    color: #fff;
    width: 50rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    height: 100%;
    margin: 0 auto;
}

.about-me h3 {
    font-weight: normal;
    font-size: 35px;
    text-align: center;
    font-family: 'Sedan Regular';
    font-weight: 400;
}

.about-me p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.skills {
    height: 40rem;
}

.skills_wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 65rem;
    margin: 0 auto;
}

.skills_wrap h3 {
    text-align: center;
    font-size: 35px;
    padding-top: 4.5rem;
    padding-bottom: 3rem;
    font-family: 'Sedan Regular';
}

.skills-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    place-items: center;
    padding-top: 4rem;
    width: 100%;
}

.skills-item .card {
    height: 12rem;
    background: #333;
    border-radius: 25px;
    width: 10rem;
}

.skills-item .card {
    position: relative;
}

.skills-item .card p {
    position: absolute;
    bottom: 1.1rem;
    text-align: center;
    color: #fff;
    width: 100%;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.img {
    width: 100%;
}

.python-img {
    padding-top: 1rem;
    text-align: center;
}

.java-img {
    width: 100%;
    text-align: center;
    padding-top: 1.5rem;
}

.java-img img{
    border-radius: 25px;
    width: 110px;
    height: 113px;
    object-fit: cover;
}

.javascript-img {
    width: 100%;
    text-align: center;
    padding-top: 1.5rem;
}

.javascript-img img{
    width: 110px;
    height: 110px;
    border-radius: 25px;
}

.c-img {
    width: 100%;
    text-align: center;
    padding-top: 1rem;
}

.c-img img {
    width: 130px;
}


.project {
    background: #333;
}

.project_wrap {
    height: 58rem;
    padding-top: 5rem;
    color: #fff;
}

.project .project-title {
    text-align: center;
    font-size: 35px;
    font-family: 'Sedan Regular';
}

.project-item {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    row-gap: 2rem;
}

.project-item .card {
    height: 18rem;
    position: relative;
}

.project-item .card p {
    text-align: center;
    padding-top: 1rem;
    font-size: 20px;
    position: absolute;
    bottom: 1.5rem;
    width: 100%;
}

.project-img {
    padding-top: 1.5rem;
    text-align: center;
}

.project-img img {
    object-fit: cover;
    width: 450px;
    border-radius: 2px;
}

.project-item > .card {
    background: rgb(216, 216, 216);
    border-radius: 15px;
    width: 500px;
    height: 350px;
    transition: 0.3s;
    cursor: pointer;
    color: #000;
}

.project-item > .card:hover{
    transform: translateY(-10px)
}

.digit_cnn {
    padding-top: 2.3rem;
}






.contact .container {
    font-size: 20px;
}


.phone-svg {
    width: 20px;
}

.contact {
    color: #333;
}

.contact .title {
    text-align: center;
    font-size: 25px;
    font-family: 'Sedan Regular';
}

.contact .container {
    padding-top: 5rem;
    height: 21rem;
    text-align: center;
}

.contact .top  {
    padding-top: 5rem;
}
.contact p {
    padding-bottom: 1rem;
}

footer {
    background: #333;
}

footer .container {
    display: flex;
    height: 2rem;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-family: 'Sedan Regular';
}

